<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1>Lista postaci</h1>
    <form action="/characters/search" method="POST">
        <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Wyszukaj postać! (eg. John_Gray)" aria-label="Search" aria-describedby="search-addon" name="character" />
            <button type="submit" class="btn btn-outline-primary">Szukaj</button>
        </div>
      </form>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nazwa postaci</th>
                <th scope="col">W grze</th>
                <th scope="col">Gotówka</th>
                <th scope="col">Bank</th>
                <th scope="col">Godziny</th>
                <th scope="col">VW</th>
            </tr>
        </thead>
        <tbody>
            <% characters.forEach((character) => { %>
                <tr>
                    <th scope="row"><%= character.id %></th>
                    <td><a href="/characters?uid=<%= character.accountid %>"><%= character.name %></td>
                    <td><%= character.online %></td>
                    <td><%= character.cash %></td>
                    <td><%= character.bank %></td>
                    <td><%= character.hours %></td>
                    <td><%= character.world %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<div class="pagination">
    <% if (page > 1) { %>
        <a href="?page=1">&laquo;</a>
        <a href="?page=<%= page - 1 %>">&lt;</a>
    <% } %>

    <% const visiblePages = 5; %>
    <% const halfVisible = Math.floor(visiblePages / 2); %>
    <% const startPage = Math.max(1, page - halfVisible); %>
    <% const endPage = Math.min(totalPages, startPage + visiblePages - 1); %>

    <% for (let pageNum = startPage; pageNum <= endPage; pageNum++) { %>
        <% if (pageNum === page) { %>
            <span class="current-page"><%= pageNum %></span>
        <% } else { %>
            <a href="?page=<%= pageNum %>"><%= pageNum %></a>
        <% } %>
    <% } %>

    <% if (page < totalPages) { %>
        <a href="?page=<%= Number(page) + 1 %>">&gt;</a>
    <% } %>
</div>
