<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1>Lista użytkowników</h1>
  <form action="/acp/users" method="get">
    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Wyszukaj użytkownika" aria-label="Search" aria-describedby="search-addon" name="search" />
        <button type="submit" class="btn btn-outline-primary">Szukaj</button>
    </div>
  </form>

</div>

  <div class="row">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nazwa użytkownika</th>
              <th scope="col">Email</th>
              <th scope="col">Admin</th>
              <th scope="col">Helper</th>
              <th scope="col">Developer</th>
              <th scope="col">Donator</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          
              <%users.forEach((user) => { %>
                  <tr>
                  <th scope="row"><%=user.id%></th>
              <td><a href="/characters?uid=<%=user.id%>"><%=user.login%></td>
              <td><%=user.email%></td>
              <td><%=user.admin%></td>
              <td><%=user.helper%></td>
              <td><%=user.developer%></td>
              <td><%=user.donate%></td>
              <td><button type="button" class="btn btn-info" id="edit" user-id="<%=user.id%>"><i class="fas fa-edit"></i></button></td>
              <td><form action="/acp/ban?id=<%=user.id%>" method="POST"><button type="submit" class="btn <%if(user.ucp_ban == 1) { %>btn-success <%}else { %>btn-danger<%}%>"><%if(user.ucp_ban == 1){%>UNBAN<%} else { %> BAN <%}%></button></form></td>
          </tr>
              <% }) %>
          </tbody>
        </table>
  </div>
  <div class="pagination">
    <% if (page > 1) { %>
        <a href="?page=1">&laquo;</a>
        <a href="?page=<%= page - 1 %>">&lt;</a>
    <% } %>

    <% const visiblePages = 5; %>
    <% const halfVisible = Math.floor(visiblePages / 2); %>
    <% const startPage = Math.max(1, page - halfVisible); %>
    <% const endPage = Math.min(totalPages, startPage + visiblePages - 1); %>

    <% for (let pageNum = startPage; pageNum <= endPage; pageNum++) { %>
        <% if (pageNum === page) { %>
            <span class="current-page"><%= pageNum %></span>
        <% } else { %>
            <a href="?page=<%= pageNum %>"><%= pageNum %></a>
        <% } %>
    <% } %>

    <% if (page < totalPages) { %>
        <a href="?page=<%= Number(page) + 1 %>">&gt;</a>
    <% } %>
</div>











<script>

  const edit = document.querySelectorAll("#edit");
  edit.forEach((btn) => {
    btn.addEventListener("click", () => {
      const userId = btn.getAttribute("user-id");
      fetch(`/acp/users?info=${userId}`)
        .then((response) => response.json())
        .then((data) => {
          Swal.fire({
            title: "Edycja użytkownika",
            html: `
              <div class="container">
                <div class="row">
                  <div class="col-md-6 offset-md-3">
                    <form id="user-form" action="/acp/update?id=${data.id}" method="POST">
                      <div class="form-group">
                        <label for="username">Nazwa użytkownika:</label>
                        <input type="text" id="username" name="username" class="form-control" value="${data.username}" placeholder="Nazwa użytkownika" />
                      </div>
                      <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" id="email" name="email" class="form-control" value="${data.email}" placeholder="Email" />
                      </div>
                      <div class="form-group">
                        <label for="admin">Admin:</label>
                        <input type="number" id="admin" name="admin" class="form-control" value="${data.admin}" placeholder="Admin" />
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            `,
            footer: `
           
             <form action="/acp/activate?id=${data.id}" method="POST">  <button id="activate-user" class="btn btn-primary">Aktywuj użytkownika</button> </form>
            `,
            icon: "info",
            confirmButtonText: "Zatwierdź", 
            preConfirm: () => {
          const form = document.getElementById("user-form");
          form.submit();
      },
          });
        }).catch((error) => {
          Swal.fire({
            title: "Błąd",
            text: "Nie udało się pobrać danych użytkownika",
            icon: "error",
            confirmButtonText: "Ok",
          });
        });
    });
  });
</script>
    