<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1>Lista użytkowników</h1>
</div>
<div class="row">
<table class="table">
    <thead class="sticky-thead">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Pojazd</th>
        <th scope="col">Właściciel</th>
        <th scope="col">Tablica</th>
      </tr>
    </thead>
    <tbody>
      <%vehicles.forEach((vehicle) => { %>
      <tr>
        <th scope="row" class="item-cell"><%=vehicle.id%></th>
        <td class="item-cell">
          <div class="item-image-container">
            <img src="/assets/dashboard/vehicles/Vehicle_<%=vehicle.model%>.jpg" alt="" class="item-image" style="height: 50px;">
          </div>
        </td>
        <td class="item-cell"><a href='/characters?uid=<%=vehicle.owner%>'><%=vehicle.owner%></a></td>
        <td class="item-cell"><%=vehicle.plate%></td>
      </tr>
      <%})%>
    </tbody>
  </table>
  <div class="pagination">
    <% if (page > 1) { %>
        <a href="?page=1">&laquo;</a>
        <a href="?page=<%= page - 1 %>">&lt;</a>
    <% } %>

    <% const visiblePages = 5; %>
    <% const halfVisible = Math.floor(visiblePages / 2); %>
    <% const startPage = Math.max(1, page - halfVisible); %>
    <% const endPage = Math.min(totalPages, startPage + visiblePages - 1); %>

    <% for (let pageNum = startPage; pageNum <= endPage; pageNum++) { %>
        <% if (pageNum === page) { %>
            <span class="current-page"><%= pageNum %></span>
        <% } else { %>
            <a href="?page=<%= pageNum %>"><%= pageNum %></a>
        <% } %>
    <% } %>

    <% if (page < totalPages) { %>
        <a href="?page=<%= Number(page) + 1 %>">&gt;</a>
    <% } %>
</div>

</div>