<link rel="stylesheet" href="/assets/custom/dashboard.css">

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1>Panel administratora</h1>
</div>

<div class="row border-bottom">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            DOMY</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%=houses%></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-house fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            BIZNESY</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%=business%></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-briefcase fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            WIEZE ZASIEGU</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%=towers%></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-signal fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            GRAFFITI</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%=graffities%></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-spray-can fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            SADZONKI</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%=plants%></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-leaf fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            BILLBOARDY</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%=billboards%></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-billboard fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            FOTORADARY</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%=speedcams%></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-camera fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4 ">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Oczekujacych na rejestracje</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%=verificationcodes%></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row mt-3 border-bottom">
    
    <div class="col-xl-3 col-md-6 mb-4 ">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            SAMP</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800 samp-info"></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-joystick fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4 ">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            SMTP</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800 mail-info">działa</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-envelope fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row mt-3">

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Paycheck POWYZEJ 50h
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%=settings[0].paycheck_hh%></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar fa-2x text-gray-300"></i>
                    </div>
                </div>
                <div class="badge text-dark rounded-pill" style="font-size: 0.8rem; position: absolute; top: 0.5rem; right: 0.5rem; background-color: #ff8d07; color: white !important;">
                    Happy Hours
                </div>
                
            </div>
            <%if(req.session.admin >= 3) { %>
            <div class="card-footer">
                <form action="/acp/serversettings" method="post" class="form-inline">
                    <div class="input-group">
                        <input type="hidden" name="type" value="1">
                        <input type="text" class="form-control" name="cash" placeholder="Nowa kwota" style="background-color: rgba(33,37,41,1) !important; border-color: rgba(33,37,41,1); color: white;">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" style="background-color: rgba(33,37,41,1); border-color: rgba(33,37,41,1);">
                                <i class="fas fa-check" style="color: green;"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <%}%>
        </div>
    </div>
    

    <div class="col-xl-3 col-md-6 mb-4 ">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            PAYCHECK PONIZEJ 50h</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%=settings[0].paycheck_newplayer_hh%></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar fa-2x text-gray-300"></i>
                    </div>
                </div>
                <div class="badge text-dark rounded-pill" style="font-size: 0.8rem; position: absolute; top: 0.5rem; right: 0.5rem; background-color: #ff8d07; color: white !important;">
                    Happy Hours
                </div>
            </div>
            <%if(req.session.admin >= 3) { %>
            <div class="card-footer">
                <form action="/acp/serversettings" method="post" class="form-inline">
                    <div class="input-group">
                        <input type="hidden" name="type" value="2">
                        <input type="text" class="form-control" name="cash" placeholder="Nowa kwota" style="background-color: rgba(33,37,41,1) !important; border-color: rgba(33,37,41,1); color: white;">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" style="background-color: rgba(33,37,41,1); border-color: rgba(33,37,41,1);">
                                <i class="fas fa-check" style="color: green;"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <%}%>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4 ">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            PAYCHECK POWYZEJ 50h</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%=settings[0].paycheck%></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
            <%if(req.session.admin >= 3) { %>
            <div class="card-footer">
                <form action="/acp/serversettings" method="post" class="form-inline">
                    <div class="input-group">
                        <input type="hidden" name="type" value="3">
                        <input type="text" class="form-control" name="cash" placeholder="Nowa kwota" style="background-color: rgba(33,37,41,1) !important; border-color: rgba(33,37,41,1); color: white;">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" style="background-color: rgba(33,37,41,1); border-color: rgba(33,37,41,1);">
                                <i class="fas fa-check" style="color: green;"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <%}%>
            
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            PAYCHECK PONIZEJ 50h
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"><%=settings[0].paycheck_newplayer%></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
            <%if(req.session.admin >= 3) { %>
            <div class="card-footer">
                <form action="/acp/serversettings" method="post" class="form-inline">
                    <div class="input-group">
                        <input type="hidden" name="type" value="4">
                        <input type="text" class="form-control" name="cash" placeholder="Nowa kwota" style="background-color: rgba(33,37,41,1) !important; border-color: rgba(33,37,41,1); color: white;">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" style="background-color: rgba(33,37,41,1); border-color: rgba(33,37,41,1);">
                                <i class="fas fa-check" style="color: green;"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <%}%>
            
        </div>
    </div>
    


</div>



<script>
    const info = document.querySelector('.samp-info');
     fetch('/api/online')
      .then(response => response.json())
      .then(data => {
        if(data == "błąd"){
           info.style = "color: red !important;"
           info.innerHTML = "nieaktywny"
        } else {
            info.style = "color: green !important;"
           info.innerHTML = "aktywny"
        }
      })


      const mail = document.querySelector('.mail-info');
     fetch('/mailstatus')
      .then(response => response.json())
      .then(data => {
       if(data == true) {
         mail.style = "color: green !important;"
         mail.innerHTML = "działa"
       } else {
         mail.style = "color: red !important;"
         mail.innerHTML = "nie działa"
       }
      })
        </script>