<link rel="stylesheet" href="/assets/custom/settings.css">
<% 
let admin = req.session.admin < 1 ? "danger" : "success";
let donator = req.session.donate == 0 ? "danger" : "success";
let tester = req.session.helper == 0 ? "danger" : "success";
%>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 style="font-size: 24px;">Ustawienia konta</h1>
  </div>
 <div class="row">
    <div class="col-md-4">
      <div class="card text-center info-box <%=admin%>">
        <div class="card-body">
          <img src="https://i.imgur.com/izU5Lze.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center info-box <%=donator%>">
        <div class="card-body">
          <img src="<%if(req.session.donate == 1){%> https://i.imgur.com/hBgKVb5.png <%} else if(req.session.donate == 2) {%>https://i.imgur.com/lPNCUhA.png<%} else if(req.session.donate == 3){%> https://i.imgur.com/1azbFru.png <%} else {%> https://i.imgur.com/hBgKVb5.png<%}%>" alt="">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center info-box <%=tester%>">
        <div class="card-body">
          <img src="https://i.imgur.com/7WUBxNT.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <h1 style="font-size: 20px; margin-top: 20px;">Bezpieczeństwo:</h1>
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card h-100"> 
        <div class="card-body">
          <h2 style="font-size: 18px; margin-bottom: 20px;">Zmiana nazwy użytkownika</h2>
          <form action="/changename" method="POST">
            <div class="form-group">
              <label for="newUsername">Nowa nazwa użytkownika:</label>
              <input type="text" class="form-control" id="newUsername" name="username" value="<%=req.session.username%>">
            </div>
            <button type="submit" class="btn btn-primary">Zmień</button>
          </form>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="card h-100"> 
        <div class="card-body">
          <h2 style="font-size: 18px; margin-bottom: 10px;">Google Authenticator</h2>
          <% if (req.session.googleAuthorization == true) { %>
            <form action="/auth/google/disable" method="POST">
              <button type="submit" class="btn btn-danger" id="enableGoogleAuth">Wyłącz weryfikacje dwuetapową</button>
            </form>
          <% } else { %>
            <div style="display: flex; flex-direction: column;">
              <div >
                <ol style="text-align: left;">
                  <li>Pobierz aplikację Microsoft Authenticator</li>
                  <li>Kliknij przycisk "Włącz weryfikację dwuetapową"</li>
                  <li>Zeskanuj kod QR w aplikacji.</li>
                  <li>Przejdź dalej.</li>
                  <li>Przepisz kod wygenerowany w aplikacji w miejsce tego przeznaczonego.</li>
                </ol>
              </div>
              <form action="/auth/google/generate" method="POST" style="align-self: flex-end; width: 100%;">
                <button type="submit" class="btn btn-success" id="enableGoogleAuth">Włącz weryfikację dwuetapową</button>
              </form>
            </div>
          <% } %>
        </div>
      </div>
    </div>
    
    
    
</div>

  <div class="col-md-6 mt-4">
    <div class="card">
      <div class="card-body">
        <h2 style="font-size: 18px; margin-bottom: 20px;">Zmiana hasła</h2>
        <form method="POST" action="/changepassword">
          <div class="form-group">
            <label for="oldPassword">Stare hasło:</label>
            <input type="password" class="form-control" id="oldPassword" name="oldpassword">
          </div>
          <div class="form-group">
            <label for="newPassword">Nowe hasło:</label>
            <input type="password" class="form-control" id="newPassword" name="newpassword">
          </div>
          <button type="submit" class="btn btn-primary">Zmień hasło</button>
        </form>
      </div>
    </div>
  </div>
  <h1 style="font-size: 20px; margin-top: 20px;">Inne:</h1>
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 style="font-size: 18px; margin-bottom: 20px;">Zmiana statusu</h2>
          <form method="POST" action="/setstatus">
            <div class="form-group">
              <label for="status">Status</label>
              <input type="text" class="form-control" id="status" name="status" value="<%=status%>">
            </div>
            <button type="submit" class="btn btn-primary">Ustaw status</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<% if(req.session.qr) { %>
	<script>
		Swal.fire({
	  icon: 'info',
	  title: 'Zeskanuj kod',
	  html: '<%-req.session.qr.message%>',
	  footer: '<a href="/info">Potrzebujesz pomocy? </a>',
	  confirmButtonText: "Dalej",
	}).then((result) => {
    if (result.isConfirmed) {
  Swal.fire({
    title: 'Wprowadź kod 2FA',
    html: `
      <form id="twoFactorForm" method="post" action='/auth/google/generate/auth'>
        <input type="text" class="form-control" name="code" style="background-color: white !important; " placeholder="Tutaj wpisz swój kod z aplikacji autoryzującej twoje logowanie">
      </form>
    `,
    confirmButtonText: 'Potwierdź',
    preConfirm: () => {
      const form = document.getElementById('twoFactorForm');
      form.submit();
    }
  });
}


})
	  	  </script> 
		  <% delete req.session.qr }%>