<link rel="stylesheet" href="/assets/custom/characters.css">
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <div class="user-info">
    <h2 class="mb-0"><%= user.username %> <span style="font-size: 14px; color: #6c757d;">(stary nick)</span></h2>
 
    <div class="badge-container">
      <%if(ban == 1) {%>
        <span class="badge text-dark rounded-pill" style="font-size: 0.8rem; padding: 0.2rem 0.5rem; vertical-align: middle; background-color: red; color: white !important;">
          Użytkownik zbanowany
        </span>
      <%}%>
      <% if (user.username === "Moolson") { %>
        <span class="badge text-dark rounded-pill" style="font-size: 0.8rem; padding: 0.2rem 0.5rem; vertical-align: middle; background-color: #3658b8; color: white !important;">
          Developer
        </span>
      <% } %>
      
      <% if (user.admin > 0) { %>
        <span class="badge text-dark rounded-pill" style="font-size: 0.8rem; padding: 0.2rem 0.5rem; vertical-align: middle; background-color: #007400; color: white !important;">
          Ekipa
        </span>
      <% } %> 
    </div>
  </div>

  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <a href="/characters/create">
      <button class="btn btn-primary" type="submit"><i class="fas fa-user-plus"></i> Stwórz postać</button>
    </a>
  </h6>
</div>


<form action="/characters/search" method="POST">
  <div class="input-group">
      <input type="search" class="form-control rounded" placeholder="Wyszukaj inną postać! (eg. John_Gray)" aria-label="Search" aria-describedby="search-addon" name="character" />
      <button type="submit" class="btn btn-outline-primary">Szukaj</button>
  </div>
</form>

<div class="row">
  <% characters.forEach((character) => { %>
  <div class="card" style="width: 18rem; margin: 5px;">
<%if(character.skin > 312) {%>
    <img src="/assets/dashboard/list_skin/brak.png" class="card-img-top mx-auto d-block" alt="..." style="width: 95px;">
    <%} else { %>
    <img src="/assets/dashboard/list_skin/<%=character.skin%>.png" class="card-img-top mx-auto d-block" alt="..." style="width: 75px;">
    <%}%>
      <div class="card-body" style="text-align: center;">
          <h5 class="card-title" style="text-align: center;"><%=character.name%></h5>
          <% if (character.admin > 0) { %>
              <p class="card-text" style="color: blue">Ekipa</p>
          <% } %>
      </div>
      <ul class="list-group list-group-flush">
          <% if (character.char_active == 1) { %>
              <li class="list-group-item" style="color: red; text-align: center;">Postać nieaktywna</li>
          <% } %>
          <% if (character.czy_online == 1) { %>
              <li class="list-group-item" style="color: green; text-align: center;">W grze</li>
          <% } %>
          <li class="list-group-item" style="text-align: center;"><%=character.online_hours%>h <%=character.online_minutes%>h </li>
      </ul>
      <% if(req.session.global_id == req.query.uid || req.session.admin > 0) { %>
      <div class="card-body" style="text-align: center;">
          <a href="/characters/info?id=<%=character.uid%>&type=character" class="card-link">Zobacz</a>
      </div>
      <% } %>
  </div>
  <% }) %>

  <!--  brak postaci  -->
  <% if(characters.length == 0) { %>
  <div class="card" style="width: 18rem; margin: 5px;">
      <img src="/assets/dashboard/list_skin/brak.png" class="card-img-top mx-auto d-block" alt="..." style="width: 75px; margin-top: 2px;">
      <div class="card-body" style="text-align: center;">
          <h5 class="card-title">Brak postaci</h5>
      </div>
  </div>
  <% } %>

  <!-- kary  -->
  <% if(penalties.length == 0) { %>
  <div class="alert alert-success mt-4" role="alert">
      <i class="fa fa-check" aria-hidden="true" style="margin-right: 2px;"></i> Użytkownik nie posiada żadnych kar
  </div>
  <% } else { %>
  <div class="table-responsive mt-4">
      <div class="alert alert-info" role="alert">
          <i class="fa fa-file" aria-hidden="true" style="margin-right: 2px;"></i> Kartoteka
      </div>
      <table class="table">
          <thead>
              <tr>
                  <th scope="col"></th>
                  <th scope="col">Administrator</th>
                  <th scope="col">Postać</th>
                  <th scope="col">Powód</th>
                  <th scope="col"></th>
              </tr>
          </thead>
          <tbody>
              <% const penaltyTypes = { '0': "Kick", '1': "Ban", '2': "AdminJail", '3': "Block", '4': "Warn", '5': "GameScore", '6': "Blokada pojazdów", '7': "Blokada biegania", '8': "Blokada OOC", '9': "Blokada obrażeń"};
                var test = new Date(1621074587)
              %>
              <!--  kary -->
              <% penalties.forEach((penalty) => { %>
              <tr>
                  <th scope="row"><i class="fa-sharp fa-solid fa-hammer"></i></th>
                  <td><%= penalty.penalty_admin_global_id %><br><span style="font-size: smaller; color: gray;">Typ: <%= penaltyTypes[penalty.penalty_type] %></span></td>
                  <td><%=penalty.penalty_user_char_id%> <br><span style="font-size: smaller; color: gray;">Nadano: <%=penalty.penalty_dateline%></span></td>
                  <td><%=penalty.penalty_reason%> <br>
                    <%if(penalty.penalty_deactivate == 1) {%>
                      <span style="font-size: smaller; color: gray;">Zdezaktywowano karę przez: <%=penalty.penalty_deactivated_by%></span>
                    <%} else {%>
                      <span style="font-size: smaller; color: gray;">Czas: <%=test.toDateString()%></span>
                      <%}%>
                  </td>
                 <%if(req.session.admin > 1 && penalty.active == 1) {%> <td><form action="/acp/deletepenalty?id=<%=penalty.penalty_id%>" method="POST"><button><i class="fa-solid fa-eraser"></i></button></form></td> <%} else {%><td></td> <%}%>
                </tr>
              <% }) %>
              <!-- brak kar -->
          </tbody>
      </table>
  </div>
  <% } %>
</div>

    <%if(status) {%> 
    <script>
      iziToast.show({
          id: 'haduken',
          theme: 'light',
          icon: 'icon-info',
          title: 'Status użytkownika:',
          displayMode: 2,
          message: '<%=status%>',
          position: 'topCenter',
          transitionIn: 'flipInX',
          transitionOut: 'flipOutX',
          progressBarColor: 'rgb(0, 255, 184)',
          image: 'https://i.imgur.com/4ODvLg9.png',
          imageWidth: 70,
          layout: 2,
          iconColor: 'rgb(0, 255, 184)'
      });
    </script>
    <%}%>