<!doctype html>
<html lang="pl">
  <head>
    
    <meta charset="utf-8">
    <meta name="keywords" content="larp, la-rp.pl, la-rp, larp.pl, samp, sa-mp, gta sa, gta, gta san andreas, rp, roleplay, ucp.la-rp.pl, ucp, ucp.larp.pl, ucp.larp">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://i.imgur.com/oYIyaE2.png">
    <meta name="description" content="Los Angeles RolePlay | Panel Gracza - Miejsce, w którym możesz stworzyć swoją własną postać. Zarejestruj się już teraz!">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title> UCP - Los Angeles RolePlay</title>

    <!--  fontawesome -->
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-light.css">
    <!-- fontawesome end -->

    <!--  alerty itp -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izitoast/dist/css/iziToast.min.css">
    <script src="https://cdn.jsdelivr.net/npm/izitoast"></script>    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- alerty itp end -->

    <!--  style  -->
    <link href="/assets/dashboard/assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/dashboard/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/custom/layout.css">
    
  </head>
  <body>
    
    <header class="navbar navbar-dark sticky-top p-0 shadow" style="background: url(https://cdn.discordapp.com/attachments/955640555365355673/1133048693638053909/image.png); background-size: cover; background-position: center; ">
      <div class="d-flex align-items-center">
        <a class="navbar-brand col-md-3 col-lg-2 me-auto px-3" href="#"><img src="https://i.imgur.com/4ODvLg9.png" alt="" width="90"></a>
        <!-- <a class="navbar-brand col-md-3 col-lg-2 me-auto px-3" style="margin-left: 20px;" href="#"> <button class="download-button">Pobierz SAMP</button></a> -->
  
        <div class="navbar-brand col-md-3 col-lg-2 me-0 px-3">
         <a href="#" class="text-reset" id="gamepad"> <i class="gamepad fas fa-gamepad fa-2x"></i></a>
          <span class="player-count" id="player-count"></span>
        </div>
    
      </div>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>    
      <div class="navbar-nav me-5" id="userinfoheader">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position: relative;">
     
            <i class="fas fa-user-circle fa-2x me-2" style="color: white;"></i>
            <div class="user-info me-2">
              <span class="d-block" style="color: white; margin-bottom: -5px;"><%= req.session.username %></span>
              <span class="d-block" style="font-size: 14px; color: <% if (req.session.admin > 0) { %>green<% } else if (req.session.helper > 0) { %>brown<% } else { %>gray<% } %>;">
                <% if (req.session.admin > 0) { %>
                  <strong>Admin</strong>
                  <%} else if (req.session.helper == 1) { %>
                  <strong>Tester</strong>
                <% } else { %>
                  Gracz
                <% } %>
              </span>
            </div>

            <i class="fas fa-cog fa-sm fa-spin" style="color: white; position: absolute; right: 0; "></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="/settings">
              <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
              Ustawienia
            </a>
            <div class="dropdown-divider" style="border-color: transparent;"></div>
            <a class="dropdown-item" href="/logout" data-toggle="modal" data-target="#logoutModal">
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Wyloguj się
            </a>
          </div>
        </li>
      </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column mt-2">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">
              <div class="d-flex align-items-center">
                <i class="fas fa-home fa-lg  icon"></i><span>Dashboard</span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/characters?uid=<%=req.session.global_id%>">
              <div class="d-flex align-items-center">
                <i class="fas fa-user fa-lg  icon"></i><span style="margin-left: 5px !important;">Postacie</span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tickets/list">
              <div class="d-flex align-items-center">
                <i class="fas fa-ticket fa-lg  icon"></i><span>Zgłoszenia</span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/shop">
              <div class="d-flex align-items-center">
                <i class="fas fa-shopping-cart fa-lg  icon"></i><span>Sklep</span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/map">
              <div class="d-flex align-items-center">
                <i class="fas fa-map fa-lg  icon"></i><span>Mapa</span>
              </div>
            </a>
          </li>
          <div class="dropdown-divider"></div>
          <li class="nav-item forum">
            <a class="nav-link" href="https://la-rp.pl/">
              <div class="d-flex align-items-center">
                <i class="fas fa-users fa-lg  icon"></i><span style="margin-left: -4px !important;">Forum</span>
              </div>
            </a>
          </li>
          <li class="nav-item forum mt-2">
            <a class="nav-link" href="https://la-rp.pl/samp03dl/sa-mp-0.3.DL-R1-install.exe">
              <div class="d-flex align-items-center">
                <i class="fas fa-download fa-lg  icon"></i><span>Pobierz SAMP</span>
              </div>
            </a>
          </li>
          <li class="nav-item forum mt-2">
            <a class="nav-link" href="/info">
              <div class="d-flex align-items-center">
                <i class="fas fa-info-circle fa-lg  icon"></i><span>Informacje</span>
              </div>
            </a>
          </li>
        </ul>
        <%if(req.session.admin > 0) { %>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>PANEL ADMINISTRATORA</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="/acp/dashboard">
              <div class="d-flex align-items-center">
                <i class="fas fa-home fa-lg  icon"></i><span>Dashboard</span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/acp/announcements">
              <div class="d-flex align-items-center">
                <i class="fas fa-bullhorn fa-lg  icon"></i><span style="margin-left: 3px !important;">Ogłoszenia</span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/acp/list">
              <div class="d-flex align-items-center">
                <i class="fas fa-ticket fa-lg  icon"></i><span>Zgłoszenia</span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/acp/users">
              <div class="d-flex align-items-center">
                <i class="fas fa-users fa-lg  icon"></i><span style="margin-left: -3px !important;">Użytkownicy</span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/acp/logs">
              <div class="d-flex align-items-center">
                <i class="fas fa-note fa-lg  icon"></i><span style="margin-left: 5px !important;">Logi</span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/acp/characters">
              <div class="d-flex align-items-center">
                <i class="fas fa-user fa-lg  icon"></i><span style="margin-left: 5px !important;">Postacie</span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <div class="d-flex align-items-center">
                <i class="fal fa-toolbox fa-lg  icon"></i><span style="margin-left: 3px !important;">Przedmioty</span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/acp/vehicles">
              <div class="d-flex align-items-center">
                <i class="fa-solid fa-car fa-lg icon"></i><span style="margin-left: 3px !important;">Pojazdy</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <%}%>
    </nav>
    
    
    


    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <%-body%>
  </div>

  </footer>
</div>

<% if(req.session.error) { %>
	<script>
		Swal.fire({
	  icon: 'error',
	  title: 'Wystąpił problem!',
	  text: '<%=req.session.error.message%>',
	  footer: 'Spróbuj ponownie!',
	  confirmButtonText: "Zrozumiałem!"
	})
		  </script> 
		  <% delete req.session.error }%>
      <%if(req.session.info) { %>
        <script>
        iziToast.show({
            id: 'haduken',
            theme: 'light',
            icon: 'icon-info',
            title: '<%=req.session.info.title%>',
            displayMode: 2,
            message: '<%=req.session.info.message%>',
            position: 'topCenter',
            transitionIn: 'flipInX',
            transitionOut: 'flipOutX',
            progressBarColor: 'rgb(0, 255, 184)',
            image: 'https://i.imgur.com/4ODvLg9.png',
            imageWidth: 70,
            layout: 2,
            iconColor: 'rgb(0, 255, 184)'
        });
      </script>
      <% delete req.session.info }%>
    <script src="/assets/dashboard/assets/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="/assets/dashboard/dashboard.js"></script>
  
  </body>
  
</html>





