<style>
    .response-form {
        position: fixed;
        bottom: 0;
        width: 80%;
        padding: 20px;
    }
    body {
        overflow: hidden;
    }
    @media (max-width: 767px) {
        .response-form {
            position: relative;
            margin: 0 auto; 
            width: 100%;
        }
        .input-group {
            margin-top: -10px;
        }
    }
</style>
<div class="d-flex justify-content-between align-items-center border-bottom pb-2 mb-3">
    <h1>Twoje zgłoszenie</h1>
    <% if (ticket.status == 0) { %>
        <form action="/tickets/close?id=<%=req.query.id%>" method="POST">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <button class="btn btn-danger" type="submit">Zamknij zgłoszenie</button>
            </h6>
        </form>
    <% } %>
</div>
<div class="container" style="overflow: auto; max-height: calc(80vh - 100px);">
    <% messages.forEach((message) => { %>
        <div class="card mb-2 shadow" style="background-color: rgb(43, 48, 53); color: white;">
            <div class="card-header d-flex justify-content-between">
                <div class="user-name"><%= message.author_name %></div>
                <div class="ticket-date"><%= message.date.toLocaleString() %></div>
            </div>
            <div class="card-body" style="display: flex; flex-direction: column;">
                <div style="display: flex; align-items: flex-start;">
                    <i class="fas fa-comments" style="margin-top: 4px;"></i>
                    <div class="divider-vertical" style="background-color: <%= (req.session.username == message.author_name) ? 'green' : 'blue' %>; height: 100%; margin: 0 10px;">&nbsp;</div>
                    <p class="card-text" style="margin: 0; flex: 1;">
                        <%= message.message.replace(/(https?:\/\/.*\.(?:png|jpg|jpeg|gif|mp4)|https?:\/\/(?:www\.)?(?:youtube\.com\/watch\?v=|youtu\.be\/)[\w-]+)/gi, '') %>

                    </p>
                </div>
                <% const mediaMatches = message.message.match(/(https?:\/\/.*?\.(?:png|jpg|jpeg|gif|mp4)|https?:\/\/(?:www\.youtube\.com\/watch\?v=|youtu\.be\/)[a-zA-Z0-9_-]{11})/gi); %>



                <% if (mediaMatches) { %> 
                    <div class="media-container" style="display: flex; flex-wrap: wrap; margin-top: 10px;">
                        <% mediaMatches.forEach((mediaUrl) => {
                            const isImage = /\.(png|jpg|jpeg|gif)$/i.test(mediaUrl);
                            const isVideo = /\.mp4$/i.test(mediaUrl);
                            const isYouTubeVideo = /(https?:\/\/(?:www\.)?(?:youtube\.com\/watch\?v=|youtu\.be\/))/.test(mediaUrl);

                              %>
                             <div class="<%= isImage ? 'image-container' : (isVideo || isYouTubeVideo) ? 'video-container' : '' %>" style="position: relative; margin-right: 5px;">
                                <% if (isImage) { %>
                                    <a href="javascript:void(0);" class="open-popup" data-src="<%= mediaUrl %>">
                                        <img src="<%= mediaUrl %>" alt="Media" class="thumbnail-image" style="width: 50px; height: 50px; object-fit: cover;" />
                                    </a>
                                    <div class="image-overlay" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.7); display: none; align-items: center; justify-content: center;">
                                        <img src="<%= mediaUrl %>" alt="Media" style="max-width: 80%; max-height: 80%; cursor: pointer;" />
                                    </div>
                                <% } else if (isVideo) { %>
                                    <video controls src="<%= mediaUrl %>" class="thumbnail-video" style="width: 200px; height: 100px; object-fit: cover;"></video>
                                    <% } else if (isYouTubeVideo) { %>
                                    <div class="youtube-container" style="position: relative; width: 560px; height: 315px; margin: 10px;">
                                        <% const videoIdMatches = mediaUrl.match(/[?&]v=([^&]+)/); %>
                                        <% const videoId = videoIdMatches ? videoIdMatches[1] : ''; %>
                                        <iframe
                                            width="100%"
                                            height="100%"
                                            src="https://www.youtube.com/embed/<%= videoId %>"
                                            frameborder="0"
                                            allowfullscreen
                                        ></iframe>
                                    </div>
                                <% } %>
                            </div>
                        <% }); %>
                    </div>
                <% } %>
            </div>
        </div>
    <% }); %>
</div>


<div id="popup" style="display: none !important; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); display: flex; align-items: center; justify-content: center;">
    <img id="popup-image" style="max-width: 80%; max-height: 80%;" />
</div>

<div class="response-form">
    <% if (ticket.status == 0) { %>
        <form action="/tickets/comment?id=<%=req.query.id%>" method="POST">
            <div class="input-group shadow">
                <input type="text" class="form-control" placeholder="Nowa odpowiedź" name="reply" style="background-color: rgb(43, 48, 53); color: white; border: none;">
                <div class="input-group-append" style="margin-left: 2px;">
                    <button type="submit" class="btn btn-primary" style="background-color: #007bff; border: none;">
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </form>
    <% } %>
</div>

<script>
    const openPopupLinks = document.querySelectorAll('.open-popup');
    const popup = document.getElementById('popup');
    const popupImage = document.getElementById('popup-image');

    openPopupLinks.forEach(link => {
        link.addEventListener('click', () => {
            popupImage.src = link.getAttribute('data-src');
            popup.style.display = 'flex';
        });
    });

    popup.addEventListener('click', () => {
        popup.style.display = 'none';
    });

    popupImage.addEventListener('click', (event) => {
        event.stopPropagation();
    });
</script>
