<style>
  .card {
      background-color: rgb(43, 48, 53) !important;
  }
  
</style>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1>Sklepik</h1>
  <div class="gamescore-box d-flex align-items-center">
      <button class="btn btn-success btn-sm gamescore-btn" type="button">
          <%=req.session.gamescore%> GameScore
      </button>
      <button class="btn btn-primary btn-kup-gamescore ms-2 btn-sm" type="button">
          <i class="fab fa-paypal me-1"></i> Zakup Gamescore
      </button>
      
  </div>
</div>


<div class="row">

  <div class="col-md-3 mb-4">
      <div class="card h-100 shadow-sm">
          <span class="position-absolute top-0 start-0 badge rounded-pill bg-primary m-2" style="font-size: 0.9rem;">Skin personalny</span>
          <span class="position-absolute top-0 end-0 badge rounded-pill bg-success m-2" style="font-size: 0.8rem;"><%= 3000/10 %> GODZIN</span>
          <div class="d-flex justify-content-center">
              <img src="/assets/dashboard/list_skin/shop.png" class="card-img-top mt-5" style="height: 80px; width: 80px;">
          </div>
          <div class="card-body">
              <div class="clearfix mb-3">
                  <span class="float-end" data-toggle="tooltip" data-placement="top" title="Skin personalny zostanie nadany tylko na jedną postać." style="cursor: pointer;">
                      <i class="fas fa-question-circle fa-2x"></i>
                  </span>
              </div>
              <div class="d-grid gap-2"">
                <button type="submit" class="btn btn-success" style="background-color: <%= req.session.gamescore < 3000 ? 'red' : '#ff8d07' %> !important; border: none;" data-bs-no-focus-shadow>
                  <% if (req.session.gamescore < 3000) { %>
                    <%= 3000 %> GS (brakuje <%= 3000 - req.session.gamescore %>)
                  <% } else { %>
                    <%= 3000 %> GS (Obenie niedostępne)
                  <% } %>
                  </button>  
              </div>
          </div>
      </div>
  </div>
  

  <div class="col-md-3 mb-4">
    <div class="card h-100 shadow-sm">
        <span class="position-absolute top-0 start-0 badge rounded-pill bg-primary m-2" style="font-size: 0.9rem;">Blokada postaci</span>
        <span class="position-absolute top-0 end-0 badge rounded-pill bg-success m-2" style="font-size: 0.8rem;"><%= 200/10 %> GODZIN</span>
        <div class="d-flex justify-content-center">
            <img src="/assets/dashboard/list_skin/shop.png" class="card-img-top mt-5" style="height: 80px; width: 80px;">
        </div>
        <div class="card-body">
            <div class="clearfix mb-3">
                <span class="float-end" data-toggle="tooltip" data-placement="top" title="Pozwala zablokować wybraną postać." style="cursor: pointer;">
                    <i class="fas fa-question-circle fa-2x"></i>
                </span>
            </div>
            <div class="d-grid gap-2"">
              <button type="submit" class="btn btn-success blockchar" style="background-color: <%= req.session.gamescore < 200 ? 'red' : '#ff8d07' %> !important; border: none;" data-bs-no-focus-shadow>
                <% if (req.session.gamescore < 200) { %>
                  <%= 200 %> GS (brakuje <%= 200 - req.session.gamescore %>)
                <% } else { %>
                  <%= 200 %> GS
                <% } %>
                </button>  
            </div>
        </div>
    </div>
</div>


<div class="col-md-3 mb-4">
  <div class="card h-100 shadow-sm">
    <span class="position-absolute top-0 start-0 badge rounded-pill bg-primary m-2" style="font-size: 0.9rem;">Zmiana nazwy postaci</span>
    <span class="position-absolute top-0 end-0 badge rounded-pill bg-success m-2" style="font-size: 0.8rem;"><%= 600/10 %> GODZIN</span>
    <div class="d-flex justify-content-center">
      <img src="/assets/dashboard/list_skin/shop.png" class="card-img-top mt-5" style="height: 80px; width: 80px;">
    </div>
    <div class="card-body">
      <div class="clearfix mb-3">
        <span class="float-end" data-toggle="tooltip" data-placement="top" title="Pozwala zmienić nazwę twojej postaci." style="cursor: pointer;">
          <i class="fas fa-question-circle fa-2x"></i>
        </span>
      </div>
      <div class="d-grid gap-2">
        <button id="namechange" type="submit" class="btn btn-success" style="background-color: <%= req.session.gamescore < 600 ? 'red' : '#ff8d07' %> !important; border: none;" data-bs-no-focus-shadow>
        <form action="/shop/buy" method="POST" id="namechangeForm">
          <input type="hidden" name="item" value="2">
            <% if (req.session.gamescore < 600) { %>
              <%= 600 %> GS (brakuje <%= 600 - req.session.gamescore %>)
            <% } else { %>
              <%= 600 %> GS
            <% } %>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="col-md-3 mb-4">
  <div class="card h-100 shadow-sm">
      <span class="position-absolute top-0 start-0 badge rounded-pill bg-primary m-2" style="font-size: 0.9rem;">Usunięcie postaci</span>
      <span class="position-absolute top-0 end-0 badge rounded-pill bg-success m-2" style="font-size: 0.8rem;"><%= 500/10 %> GODZIN</span>
      <div class="d-flex justify-content-center">
          <img src="/assets/dashboard/list_skin/shop.png" class="card-img-top mt-5" style="height: 80px; width: 80px;">
      </div>
      <div class="card-body">
          <div class="clearfix mb-3">
              <span class="float-end" data-toggle="tooltip" data-placement="top" title="Pozwala usunąć martwą/zablokowaną postać, która przegrała poniżej 5h na serwerze." style="cursor: pointer;">
                  <i class="fas fa-question-circle fa-2x"></i>
              </span>
          </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success delchar" style="background-color: <%= req.session.gamescore < 500 ? 'red' : '#ff8d07' %> !important; border: none;" data-bs-no-focus-shadow>
              <% if (req.session.gamescore < 500) { %>
                <%= 500 %> GS (brakuje <%= 500 - req.session.gamescore %>)
              <% } else { %>
                <%= 500 %> GS
              <% } %>
              </button>  
          </div>
      </div>
  </div>
</div>

</div>



<script>
  $(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();

    $('.btn-kup-gamescore').click(function() {
      Swal.fire({
        title: 'Płatność tylko paypalem!',
        html: `
          <form id="gamescoreForm" method="get" action="/paypal/buy">
            <div class="form-group">
              <input type="number" id="gamescoreInput" name="gamescore" min="600" value="600" class="form-control" required oninput="calculatePLN()">
            </div>
          </form>
          <div class="text-center" id="amountDisplay">
            Kwota: <span id="calculatedAmount">6.00 zł</span>
          </div>
        `,
        showCancelButton: true,
        confirmButtonText: 'Kup',
        cancelButtonText: 'Anuluj',
        focusConfirm: false,
        preConfirm: function() {
          const form = document.getElementById('gamescoreForm');
          if (form.checkValidity()) {
            form.submit();
          } else {
            Swal.showValidationMessage('Minimum 600 Gamescore jest wymagane!');
          }
        },
      });
    });
  });
  $('#namechange').click(function() {
    const form = document.getElementById('namechangeForm');
      form.submit();
  })

  function calculatePLN() {
    const gamescoreInput = document.getElementById('gamescoreInput').value;
    const amountInPLN = gamescoreInput / 100;
    const amountElement = document.getElementById('calculatedAmount');
    if (Number.isInteger(amountInPLN)) {
      amountElement.innerText = `${amountInPLN.toFixed(2)} zł`;
      Swal.showValidationMessage('Gamescore musi być wielokrotnością 100.');
    } else {
      Swal.showValidationMessage('Gamescore musi być wielokrotnością 100.');
    }
  }

</script>
<script src="/assets/dashboard/javascript/shop.js"></script>